<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../js/sb-admin-2.min.js"></script>


<!-- facebook -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v6.0&appId=1268121773351660&autoLogAppEvents=1">
</script>

<script>

$(document).ready(function() {
    
    let track =  document.getElementById("track");
            function playPause () {
                if(track.paused) {

                    track.play();
                    $("#play-pause").addClass('pause');
                }else {
                    track.pause();
                    $("#play-pause").removeClass('pause');
                     console.log('ici');
                }
            }

            $('#play-pause').click(function() {
                playPause();
            });
});

</script>