<div class="modal fade" id="sendMail" role="dialog">
    <div  class="modal-dialog">
        <div class="modal-content">
             <div class="rounded-circle img border border1">
                <img class="" src="../assets/Groupe 8.png"/></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm">
                        Regardez votre boîte mail pour
                        créer un nouveau mot de passe
                    </div>
                </div>
                <div class="row"></div>
            </div>
        </div>
    </div>
</div>